@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* --- Body Section --- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* --- Navbar Section --- */
.nav {
    position: fixed;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background-color: #222;
    z-index: 100000;
}

.nav h2 {
    color: #fff;
    font-size: 1.7rem;
    letter-spacing: 4px;
}

#item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#item li {
    list-style: none;
    padding-right: 50px;

}

#item li a {
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}

#item li a:hover, #item .icon i:hover {
    color: #ff5733;
    cursor: pointer;
}

#item .icon i {
    color:#fff;
    padding-right: 30px;
    font-weight: bolder;
}

#bar {
    color:#ff5733;
    font-weight: lighter;
    font-size: 1.5rem;
    display: none;
}

.back {
    background-image: url(bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}

.back overlay {
    background: #171819;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

/* --- Hero Section --- */
.mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mid p {
    color: #7f8c8d;
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
}

.mid h2 {
    color: #fff;
    font-size: 3rem;
}

.mid h1 {
    color: #7f8c8d;
    font-size: 4.2rem
}

.mid .btn {
 margin-top: 2rem;
}

.mid .btn a {
    text-decoration: none;
    text-transform: uppercase;
}

.mid .btn a.simple {
    color: #fff;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
}

.mid .btn a.simple:hover {
    color: #ff5733;

}

.mid .btn a.border {
    color: #ff5733;
    border: 1px solid #ff5733;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
    border-radius: 3px;
}

.mid .btn a.border:hover {
    background-color: white;
    border: none;
    /* border: 1px solid white; */
}

/* --- Details Section --- */
.details {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 15rem;
    background-color: #171819;
}

.details h3,h6,h5 {
    color:#fff;
}

.details .one{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.details .one h3 {
    font-size: 2.5rem;
    padding-bottom: 1.1rem;
}

.details .one h6 {
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 1.2rem;
}

.details .one p {
    color: #666262;
    font-size: 1.2rem;
    padding-bottom: 3rem;
}

.details .one a {
    color:#fff;
    /* background: #ff5733; */
    background: #f13a11;;
    padding: 1rem 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.details .one a:hover {
    background-color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    color: #f13a11;
}

.details .two{
    width: 45%;
    border-left: 1px solid #666262;
    padding-left: 4rem;
}

.details .two h3{
    font-size: 2.5rem;
    padding-bottom: 1.1rem;
}

.details .two h5{
    font-size: 1.1rem;
    
}

.details .two p {
    color: #666262;
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
}

/* --- Trainers Section --- */
.trainer  {
    background: #f9f9f9;
    padding: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trainer .about {
    width: 39%;
}

.trainer .about h2 {
    color: #212529;
    font-size: 2.1rem;
    padding-bottom: 1.8rem;
}

.trainer .about p {
    color: #7f8c8d;
    font-size: 1.1rem;
}

.trainer .people {
    width: 57%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trainer .people .team1 {
    width: 45%;
    height: auto;
    box-sizing: border-box;
    background: #fff;
    box-shadow:
    4.5px 2.3px 3.6px rgba(0, 0, 0, 0.035),
    12.5px 6.3px 10px rgba(0, 0, 0, 0.05),
    30.1px 15.1px 24.1px rgba(0, 0, 0, 0.065),
    100px 50px 80px rgba(0, 0, 0, 0.1)
    ;
    /* box-shadow source from https://shadows.brumm.af/ */
}

.trainer .people .team1 .img img {
    width: 100%;
    object-fit: cover;
}

.trainer .people .team1 .name, .trainer .people .team1 .pro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trainer .people .team1 .name {
    padding: 5px 20px 0 20px;
}

.trainer .people .team1 .pro {
    padding: 0 20px 5px 20px;
}

.trainer .people .team1 .teamDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}

.trainer .people .team1 .name h4 {
    color:#212529;
    font-size: 1.5rem;
}

.trainer .people .team1 .name i, .trainer .people .team1 .pro i {
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
    color:#212529;
}

.trainer .people .team1 .pro p {
    color: #7f8c8d;
}

.trainer .people .team2 {
    width: 45%;
    height: auto;
    box-sizing: border-box;
    background: #fff;
    box-shadow:
    4.5px 2.3px 3.6px rgba(0, 0, 0, 0.035),
    12.5px 6.3px 10px rgba(0, 0, 0, 0.05),
    30.1px 15.1px 24.1px rgba(0, 0, 0, 0.065),
    100px 50px 80px rgba(0, 0, 0, 0.1)
    ;
    /* box-shadow source from https://shadows.brumm.af/ */
}

.trainer .people .team2 .img img {
    width: 100%;
    object-fit: cover;
}

.trainer .people .team2 .name, .trainer .people .team2 .pro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trainer .people .team2 .name {
    padding: 5px 20px 0 20px;
}

.trainer .people .team2 .pro {
    padding: 0 20px 5px 20px;
}

.trainer .people .team2 .teamDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}

.trainer .people .team2 .name h4 {
    color:#212529;
    font-size: 1.5rem;
}

.trainer .people .team2 .name i, .trainer .people .team2 .pro i {
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
    color:#212529;
}

.trainer .people .team2 .pro p {
    color: #7f8c8d;
}

/* --- Classes or Training Section --- */
.classes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 8em;
}
.classes .perfect {
   font-size: 1.3rem;
   color: #95a5a6;
   padding-bottom: 6px;
   text-align: center;
}

.classes .fitness {
    font-size: 2.2rem;
    color: #222;
    font-weight: 700;
    padding-bottom: 50px;
    text-align: center;
}

.classes .classesMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.classes .classesMenu .team1 {
    width: 32%;
    height: auto;
    box-sizing: border-box;
    background: #fff;
    box-shadow:
    4.5px 2.3px 3.6px rgba(0, 0, 0, 0.035),
    12.5px 6.3px 10px rgba(0, 0, 0, 0.05),
    30.1px 15.1px 24.1px rgba(0, 0, 0, 0.065),
    100px 50px 80px rgba(0, 0, 0, 0.1)
    ;
    /* box-shadow source from https://shadows.brumm.af/ */
}

.classes .classesMenu .team1 .img img {
    width: 100%;
    object-fit: cover;
}

.classes .classesMenu .team1 .teamDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}

.classes .classesMenu .team1 .teamDetails .name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px 0 30px;
}

.classes .classesMenu .team1 .teamDetails .name .nameDetails h4 {
    color: #212529;
    font-size: 1.7rem;
}

.classes .classesMenu .team1 .teamDetails .name .nameDetails p {
    color: #212529;
    font-size: 1.1rem;
}

.classes .classesMenu .team1 .teamDetails .name .nameDetails p span {
    font-weight: 700;
    font-size: 1.1rem;
}

.classes .classesMenu .team1 .teamDetails .name .num h6 {
    font-size: 0.9rem;
    background: #f13a11;
    font-weight: 600;
    width: 3.75rem;
    height: 3.75rem;
    line-height: 3.75rem;
    text-align: center;
    border-radius: 50%;
}

.classes .classesMenu .team1 .pro  {
    padding: 15px 30px 30px 30px;
}
.classes .classesMenu .team1 .pro p {
    font-size: 1.1rem;
    color: #666262;
}

/* --- Contact Section --- */
.contact {
    padding: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact .form {
    width: 45%;
}

.contact .form h2 {
    font-size: 2rem;
    color: #212529;
    padding-bottom: 10px;
    width: 100%;
}

.contact .form .submit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact .form .submit input, .contact .form .submit textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #95a5a6;
    outline: none;
    margin: 12px 0;
}

.contact .form .submit input:focus, .contact .form .submit textarea:focus {
    border: 1px solid #f13a11;
}

.contact .form .submit input::placeholder {
    color:#7f8c8d;
    font-size: 1rem;
}

.contact .form .submit textarea::placeholder {
    color:#7f8c8d;
    font-size: 1rem;
    height: 80%;
}

.contact .form .submit a {
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    background: #111;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    margin: 12px 0;
}

.contact .map {
    width: 45%;

}

.contact .map iframe {
    width: 100%;

}

.contact .map h2 {
    font-size: 2rem;
    color: #212529;
    padding-bottom: 10px;
    width: 100%;
}

.contact .map p {
    font-size: 1rem;
    color: #212529;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 100%;
}

.contact .map p i {
    color:#f13a11;
    padding-right: 4px;
}

/* --- Footer Section --- */
.footer {
    border-top: 1px solid #e5e9ea;
    padding: 5rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    color: #7f8c8d;
    justify-content: flex-start;
    font-size: 1rem;
}

.footer p i {
    color: #f13a11;
    padding-right: 5px;
}

/* --- Media Queries --- */

@media screen and (max-width: 1042px) {

.nav {
        padding: 1rem 4.5rem;
    }

.nav h2 {
    font-size: 1.4rem;
    letter-spacing: 3px;
}

#item li {
    padding-right: 30px;

}

#item li a {
    font-size: 0.8rem;
    letter-spacing: 0.8px;
}

#item .icon i {
    padding-right: 20px;
}

} 


@media screen and (max-width: 991px) {
    /* Nav Section - Tablet size */
    .nav {
        padding: 1rem 3rem;
    }

.nav h2 {
    font-size: 1.6rem;
    letter-spacing: 3px;
}

#item {
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 80vh;
    position: fixed;
    top: 0px;
    right: -300px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100000;
    margin-top: 4.2rem;
    transition: 0.5s;
}

#item li {
    padding-right: 0;
    padding: 4px 0;
}

#item li a {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

#item .icon {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

#item .icon i {
    padding: 0 15px 0 15px;
}

#bar {
    display: initial;
    cursor: pointer;
}
    
/* Hero Section - Tablet size */
.mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mid p {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
}

.mid h2 {
    font-size: 2.5rem;
}

.mid h1 {
    color: #7f8c8d;
    font-size: 3.2rem
}

.mid .btn {
 margin-top: 1.5rem;
}

.mid .btn a {
   font-size: 0.9rem;
}

.mid .btn a.simple {
    padding: 0.7rem 1.4rem;
}

.mid .btn a.border {
    padding: 0.7rem 1.4rem;
}

.details {
    padding: 6rem 7rem;
}

.details .one{
    width: 50%;
}

/* Details Section - Tablet size */
.details .one h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.details .one p {
    font-size: 1.1rem;
    padding-bottom: 2.2rem;
}

.details .one a {
    font-size: 0.9rem;
}

.details .two{
    padding-left: 3.5rem;
}

.details .two h3{
    font-size: 2rem;
}

.details .two h5{
    font-size: 1rem;
}

.details .two p {
    font-size: 1rem;
    margin-bottom: 0.6rem;
}
/* Trainer Section - Tablet size */
.trainer  {
   padding: 6rem 7rem;
 
}

.trainer .about h2 {
    font-size: 2rem;
    padding-bottom: 1.4rem;
}

.trainer .about p {
    font-size: 1rem;
}

.trainer .people .team1 {
    width: 48%;
}

.trainer .people .team1 .name {
    padding: 5px 15px 0 15px;
}

.trainer .people .team1 .pro {
    padding: 0 15px 5px 15px;
}

.trainer .people .team1 .name h4 {
    font-size: 1.1rem;
}

.trainer .people .team1 .name i, .trainer .people .team1 .pro i {
    font-size: 1.1rem;
}

/* trainer team 2 */
 
 .trainer .people .team2 {
     width: 48%;
 }
 
 .trainer .people .team2 .name {
     padding: 5px 15px 0 15px;
 }
 
 .trainer .people .team2 .pro {
    padding: 0 15px 5px 15px;
}
 
 .trainer .people .team2 .name h4 {
     font-size: 1.1rem;
 }
 
 .trainer .people .team2 .name i, .trainer .people .team2 .pro i {
     font-size: 1.1rem;
 }


/* --- Classes or Training Section for Tablet size--- */
.classes {
    padding: 6rem;
}
.classes .perfect {
   font-size: 1.1rem;
   padding-bottom: 4px;
}

.classes .fitness {
    font-size: 2rem;
    padding-bottom: 30px;
}

.classes .classesMenu .team1 .teamDetails {
    padding-bottom: 7px;
}

.classes .classesMenu .team1 .teamDetails .name {
    padding: 5px 15px 0 15px;
}

.classes .classesMenu .team1 .teamDetails .name .nameDetails h4 {
    font-size: 1.2rem;
}

.classes .classesMenu .team1 .teamDetails .name .nameDetails p {
    font-size: 1rem;
}

.classes .classesMenu .team1 .teamDetails .name .nameDetails p span {
    font-size: 1rem;
}

.classes .classesMenu .team1 .teamDetails .name .num h6 {
    font-size: 0.8rem;
    font-weight: 600;
    width: 3.25rem;
    height: 3.25rem;
    line-height: 3.25rem;
}

.classes .classesMenu .team1 .pro  {
    padding: 15px 15px 30px 15px;
}
.classes .classesMenu .team1 .pro p {
    font-size: 0.8rem;
}


/* --- Contact Section for Tablez size --- */
.contact {
    padding: 6rem;
}

.contact .form h2 {
    font-size: 1.5rem;
    padding-bottom: 7px;
   
}

.contact .form .submit input, .contact .form .submit textarea {
    padding: 12px;
    margin: 10px 0;
}

.contact .form .submit input::placeholder {
    font-size: 0.8rem;
}

.contact .form .submit textarea::placeholder {
    font-size: 0.8rem;
}

.contact .form .submit a {
    padding: 12px 0;
    font-size: 1rem;
    margin: 10px 0;
}

/* .contact .map iframe {
    width: 100%;
    height: 70%
} */

.contact .map h2 {
    font-size: 1.5rem;
    padding-bottom: 7px;
}

.contact .map p {
    font-size: 0.9rem;
    padding-top: 5px;
    padding-bottom: 20px;
}

/* --- Footer Section for tablet size --- */
.footer {
    padding: 6rem;
}

.footer p {
    font-size: 0.9rem;
}

}

@media screen and (max-width: 768px) {
        /* Nav Section - small Tablet size */
    .nav h2 {
        font-size: 1.5rem;
    }

    .back {
        background-position: center;
    }
    
    /* Hero Section - small Tablet size */

    .mid p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .mid h2 {
        font-size: 2rem;
    }
    
    .mid h1 {
        font-size: 2.5rem
    }
    
    .mid .btn {
     margin-top: 1rem;
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    
    .mid .btn a {
       font-size: 0.8rem;
    }
    
    .mid .btn a.simple {
        padding: 0.7rem 1.4rem;
        margin-bottom: 7px;
    }
    
    /* .mid .btn a.border {
        padding: 0.7rem 1.4rem;
    } */
 
    /* Details Section - small Tablet size */

    .details {
        padding: 5rem 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .details .one{
        width: 70%;
    }

    .details .one h3 {
        font-size: 1.8rem;
        padding-bottom: 1rem;
    }
    
    .details .one p {
        font-size: 1rem;
        padding-bottom: 2.2rem;
    }
    
    .details .two{
        padding-left: 0;
        border-left: 0;
        border-top: 1px solid #666262;
        width: 70%;
        margin-top: 1.7rem;
        padding-top: 1.7rem;
    }
    
    .details .two h3{
        font-size: 1.8rem;
    }
    
    .details .two h5{
        font-size: 1rem;
        font-weight: 500;
    }
    
    .details .two p {
        font-size: 0.9rem;
        margin-bottom: 0.6rem;
    }
    /* Trainer Section - small Tablet size */
    .trainer  {
       padding: 5rem 2rem;
       flex-direction: column;
       justify-content: center;
    }

    .trainer .about {
        width: 70%;
        margin-bottom: 1.7rem;
    }

    .trainer .people {
        width: 70%;
    }
    
    /* --- Classes or Training Section - small Tablet size--- */
    .classes {
        padding: 6rem;
    }

    .classes .classesMenu {
        flex-direction: column;
        justify-content: center;
    }

    .classes .classesMenu .team1 {
        width: 65%;
        margin-bottom: 20px;
    }
    
    .contact {
        padding: 5rem 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contact .form {
        width: 70%;
        margin-bottom: 2rem;
    }
    .contact .form h2 {
        font-size: 2rem;
    }
    
    .contact .map h2 {
        font-size: 2rem;
    }

    .contact .map {
        width: 70%;
        box-shadow:
    4.5px 2.3px 3.6px rgba(0, 0, 0, 0.035),
    12.5px 6.3px 10px rgba(0, 0, 0, 0.05),
    30.1px 15.1px 24.1px rgba(0, 0, 0, 0.065),
    100px 50px 80px rgba(0, 0, 0, 0.1)
    ;
    }
    
    .contact .map p {
        font-size: 0.9rem;
        padding-top: 5px;
        padding-bottom: 20px;
    }
    
    /* --- Footer Section - small tablet size --- */
    .footer {
        padding: 5rem 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
}

@media screen and (max-width: 496px) {
    
}