@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav {
    position: fixed;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background-color: #222;
    z-index: 100000;
}

.nav h2 {
    color: #fff;
    font-size: 1.7rem;
}

#item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#item li {
    list-style: none;
    padding-right: 50px;

}

#item li a {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
}

#item li a:hover, #item .icon i:hover {
    color: #ff5733;
    cursor: pointer;
}

#item .icon i {
    color:#fff;
    padding-right: 30px;
    font-weight: bolder;

}

.back {
    background-image: url(bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}

.back overlay {
    background: #171819;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

.mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mid p {
    color: #7f8c8d;
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
}

.mid h2 {
    color: #fff;
    font-size: 3rem;
}

.mid h1 {
    color: #7f8c8d;
    font-size: 4rem
}

.mid .btn {
 margin-top: 2rem;
}

.mid .btn a {
    text-decoration: none;
    text-transform: uppercase;
}

.mid .btn a.simple {
    color: #fff;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
}

.mid .btn a.simple:hover {
    color: #ff5733;

}

.mid .btn a.border {
    color: #ff5733;
    border: 1px solid #ff5733;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
    border-radius: 3px;
}

.mid .btn a.border:hover {
    background-color: white;
    border: none;
    /* border: 1px solid white; */
}

.details {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 15rem;
    background-color: #171819;
}

.details h3,h6,h5 {
    color:#fff;
}

.details .one{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.details .two{
    width: 45%;
    border-left: 1px solid #666262;
    padding-left: 4rem;
}

.details .one h3 {
    font-size: 2.5rem;
    padding-bottom: 1.1rem;
}

.details .one h6 {
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 1.2rem;
}

.details .one p {
    color: #666262;
    font-size: 1.2rem;
    padding-bottom: 3rem;
}

.details .one a {
    color:#fff;
    /* background: #ff5733; */
    background: #f13a11;;
    padding: 1rem 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.details .one a:hover {
    background-color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    color: #f13a11;
}


.details .two h3{
    font-size: 2.5rem;
    padding-bottom: 1.1rem;
}

.details .two h5{
    font-size: 1.1rem;
    
}

.details .two p {
    color: #666262;
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
}


.trainer  {
    background: #f9f9f9;
    padding: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trainer .about {
    width: 39%;
}

.trainer .about h2 {
    color: #212529;
    font-size: 2.1rem;
    padding-bottom: 1.8rem;
}

.trainer .about p {
    color: #7f8c8d;
    font-size: 1.1rem;
}

.trainer .people {
    width: 57%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trainer .people .team1 {
    width: 45%;
    height: auto;
    box-sizing: border-box;
    background: #fff;
    box-shadow:
    4.5px 2.3px 3.6px rgba(0, 0, 0, 0.035),
    12.5px 6.3px 10px rgba(0, 0, 0, 0.05),
    30.1px 15.1px 24.1px rgba(0, 0, 0, 0.065),
    100px 50px 80px rgba(0, 0, 0, 0.1)
    ;
    /* box-shadow source from https://shadows.brumm.af/ */
}

.trainer .people .team1 .img img {
    width: 100%;
    object-fit: cover;
}

.trainer .people .team1 .name, .trainer .people .team1 .pro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trainer .people .team1 .name {
    padding: 5px 20px 0 20px;
}

.trainer .people .team1 .pro {
    padding: 0 20px 5px 20px;
}

.trainer .people .team1 .teamDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}

.trainer .people .team1 .name h4 {
    color:#212529;
    font-size: 1.5rem;
}

.trainer .people .team1 .name i, .trainer .people .team1 .pro i {
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
    color:#212529;
}

.trainer .people .team1 .pro p {
    color: #7f8c8d;
}

.trainer .people .team2 {
    width: 45%;
    height: auto;
    box-sizing: border-box;
    background: #fff;
    box-shadow:
    4.5px 2.3px 3.6px rgba(0, 0, 0, 0.035),
    12.5px 6.3px 10px rgba(0, 0, 0, 0.05),
    30.1px 15.1px 24.1px rgba(0, 0, 0, 0.065),
    100px 50px 80px rgba(0, 0, 0, 0.1)
    ;
    /* box-shadow source from https://shadows.brumm.af/ */
}

.trainer .people .team2 .img img {
    width: 100%;
    object-fit: cover;
}

.trainer .people .team2 .name, .trainer .people .team2 .pro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trainer .people .team2 .name {
    padding: 5px 20px 0 20px;
}

.trainer .people .team2 .pro {
    padding: 0 20px 5px 20px;
}

.trainer .people .team2 .teamDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}

.trainer .people .team2 .name h4 {
    color:#212529;
    font-size: 1.5rem;
}

.trainer .people .team2 .name i, .trainer .people .team2 .pro i {
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
    color:#212529;
}

.trainer .people .team2 .pro p {
    color: #7f8c8d;
}

.classes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 8em;
}
.classes .perfect {
   font-size: 1.3rem;
   color: #95a5a6;
   padding-bottom: 6px;
   text-align: center;
}

.classes .fitness {
    font-size: 2.2rem;
    color: #222;
    font-weight: 700;
    padding-bottom: 50px;
    text-align: center;
}

.classes .classesMenu .team1 {
    width: 32%;
    height: auto;
    box-sizing: border-box;
    background: #fff;
    box-shadow:
    4.5px 2.3px 3.6px rgba(0, 0, 0, 0.035),
    12.5px 6.3px 10px rgba(0, 0, 0, 0.05),
    30.1px 15.1px 24.1px rgba(0, 0, 0, 0.065),
    100px 50px 80px rgba(0, 0, 0, 0.1)
    ;
    /* box-shadow source from https://shadows.brumm.af/ */
}

.classes .classesMenu .team1 .img img {
    width: 100%;
    object-fit: cover;
}

.classes .classesMenu .team1 .teamDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}

.classes .classesMenu .team1 .teamDetails .name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px 0 30px;
}

.classes .classesMenu .team1 .teamDetails .name .nameDetails h4 {
    color: #212529;
    font-size: 1.7rem;
}

.classes .classesMenu .team1 .teamDetails .name .nameDetails p {
    color: #212529;
    font-size: 1.1rem;
}

.classes .classesMenu .team1 .teamDetails .name .nameDetails p span {
    font-weight: 700;
    font-size: 1.1rem;
}

.classes .classesMenu .team1 .teamDetails .name .num h6 {
    font-size: 0.9rem;
    background: #f13a11;
    font-weight: 600;
    width: 3.75rem;
    height: 3.75rem;
    line-height: 3.75rem;
    text-align: center;
    border-radius: 50%;
}

.classes .classesMenu .team1 .pro  {
    padding: 15px 30px 30px 30px;
}
.classes .classesMenu .team1 .pro p {
    font-size: 1.1rem;
    color: #666262;
}

/* .classes .classesMenu .team1 .name, .classes .classesMenu .team1 .pro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.classes .classesMenu .team1 .name {
    padding: 5px 20px 0 20px;
}

.classes .classesMenu .team1 .pro {
    padding: 0 20px 5px 20px;
}

.classes .classesMenu .team1 .name h4 {
    color:#212529;
    font-size: 1.5rem;
}

.classes .classesMenu .team1 .name i, .classes .classesMenu .team1 .pro i {
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
    color:#212529;
}

.classes .classesMenu .team1 .pro p {
    color: #7f8c8d;
} */



